.button
  padding: 13px 20px
  text-transform: uppercase

  border: none
  border-radius: 2px
  &--primary
    background-color: $primary
    color: $light

  &--outline
    border: 1px solid $light
    color: $light
    background-color: transparent