
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  .card
    &__text
      margin: -6.45rem auto 0 auto
  .design-card
    &__text
      margin: -6.45rem auto 0 auto

@media screen and (max-width: 992px)
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0

  .card
    &__text
      max-width: 18.87rem

  .design-card
    &__text
      max-width: 18.87rem
@media screen and (max-width: 767px)
  .row
    flex-wrap: wrap
    flex-direction: row
    align-items: center
    justify-content: space-evenly
    &__design
      align-items: flex-start
  .col
    flex-basis: 40%

  .card
    &__text
      margin: -4.45rem auto 0 auto
      max-width: 18rem //добавил новый трюк
      min-width: 211px
  .types
    &__card
      margin-bottom: 5rem

  .design
    &-card
      margin-bottom: 5rem

  .design-card
    &__text
      max-width: 23.57rem
      margin-left: 0
  .design
    &__section-description
      font-size: 1.5rem

  .design-card
    &__pricetag
      padding: 1.214rem 4.4rem 1.214rem 2.5rem
      &--second
        padding: 1.214rem 4.4rem 1.214rem 2.5rem
      &--last
        padding: 1.214rem 4.3rem 1.214rem 2.5rem

@media screen and (max-height: 620px)
  .hero
    &__scroll-down
      display: none

@media screen and (max-width: 576px)
  .row
    flex-wrap: wrap
    flex-direction: column
    align-items: center

  .card
    &__text
      margin: -4.45rem auto 0 0
      max-width: 23.57rem //добавил новый трюк

  .contacts
    &__button
      display: none
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
  .title
    margin-bottom: 1.14rem
    font-size: 1.64rem
  .hero
    &__content
      max-width: 22.86rem
      margin: 0 auto
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
    &__scroll-down
      display: none

  .button
    padding: 19px 69px

  .design
    background-color: $dark
    &__section-title
      color: $light
    &__section-description
      color: $light
      font-size: 1.2rem
