*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px
body
  +font-FuturaBook
  font-size: 1rem

img
  max-width: 100%

.section
  padding: 70px 0
  &--dark
    color: $light
    background-color: $dark
  &-title
    +font-YesevaOne
    text-align: center
    text-transform: uppercase
    &--left
      text-align: left
    &--light 
      color: $light
    &__heading
      +font-YesevaOne
      font-size: 1.42rem
      letter-spacing: 0
      line-height: 138.6%
      &--primary
        color: $primary
    &__word
      display: flex
      align-items: center
      &::after
        content: ''
        width: 90px
        height: 1px
        margin-left: 2.5rem
        background-color: $primary

    &__image
      display: flex
      align-items: center
      justify-content: center
      &::before, &::after
        content: ''
        margin: 0 10px
        width: 32px
        height: 2px
        border-radius: 2px
        background-color: $primary
  &-description
    max-width: 31.5rem
    +font-FuturaBook
    font-size: 1.28rem
    text-transform: none
    line-height: 27px
    color: $dark
