.footer 
  padding-top: 3rem
  background: $black url(../img/footer/footer-bg.jpg) no-repeat center / cover
  &__wrap 
    max-width: 63.07rem 
    margin: 0 auto
    margin-bottom: 3.814rem
    padding: 2.5rem
    background-color: $black
  &__title 
    margin-top: 0
    margin-bottom: 3.214rem
    +font-YesevaOne
    font-style: normal
    font-style: 1.428rem
    text-align: center
    text-transform: uppercase
  &__form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-width: 37.142rem
    margin: 0 auto
  &__input
    padding-top: 0.3rem
    &-group
      margin-bottom: 3.2rem
      display: flex
      flex-direction: column
      flex-basis: 45%
      &--full-width
        margin-bottom: 2rem
        flex-basis: 100%
  &__policy 
    margin-bottom: 3.6rem
    flex-basis: 100%
  &__button 
    padding: 1.285rem 4.785rem
    margin: 0 auto
  &__menu 
    padding: 4.285rem 0
    background-color: $black