.header
  padding: 24px 0
  background-color: $dark

.menu
  display: flex
  justify-content: space-between
  align-items: center

.logo
  text-transform: uppercase
  color: $primary

.nav
  &__item
    margin-right: 40px //fixed!
    text-transform: uppercase
    text-decoration: none
    color: $light

.phone
  color: $primary

.contacts
  &__phone
    margin-right: 45px