.projects
  padding-top: 9rem
  padding-bottom: 27.2rem
  &__section-title
    margin-top: 0
    +font-YesevaOne
    font-size: 1.92rem
    letter-spacing: -1px
    line-height: 138.6%
    text-align: left
    color: $primary
  &__section-description
    margin-bottom: 2.29rem
    color: $light
  &__navigation
    position: absolute
    top: 276px //272 - mb 8.8rem
    left: 0
    // height: 10px
    // top: -10px
    // left: 0
    // display: flex
    // flex-direction: column
  &__image
    width: 93%
    height: 100%

.swiper
  &__navigation
    left: 42px
    top: -11px
    display: flex
    flex-direction: row
    justify-content: flex-start

  &-slide
    display: flex
    flex-wrap: wrap
    &__content
      margin-bottom: 8.8rem
      padding-right: 9rem
    &__text
      flex-basis: 50%
      min-width: 40%
      // margin-bottom: 0.9rem;
      padding-bottom: 1.35rem
    &__value
      letter-spacing: 1px
      line-height: 1.3rem
    &__heading
      margin-bottom: 0.64rem
      +font-YesevaOne
      font-size: 1.285rem
      line-height: 1.78rem
      text-transform: uppercase
      color: $primary
    &__image
      justify-content: space-around
      padding-left: 2rem

  &-pagination
    &-bullets
      width: auto

    &-bullet
      margin-left: 20px
      background-color: rgba($light, 0.3)
      &-active
        background-color: $light

  &-button
    &-prev, &-next
      bottom: 0
      top: auto
      background-size: 42px
      width: 42px
      height: 14px
      cursor: pointer
      &::after
        display: none
    &-prev
      left: 0
      background: url(../img/arrov-prev.svg) no-repeat center
    &-next
      background: url(../img/arrov-next.svg) no-repeat center
  &-button
    &-next:focus
      outline: none
      box-shadow: none
    &-prev:focus
      outline: none
      box-shadow: none

.swiper-container-horizontal>.swiper-pagination-bullets
  width: auto
  bottom: -2px

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
  margin: 0px 10px

@media screen and ( max-width: 1200px )
  .projects
    &__row
      align-items: center
    &__navigation
      display: flex

  .col-60
    min-width: 40%

  .swiper
    &-slide
      &__content
        padding-right: 0
      &__image
        // padding: 1rem

@media screen and (max-width: 992px)
  .projects
    &__image
      width: auto
      height: 100%
      object-fit: cover
  .swiper-slide__content
    margin-bottom: 10.8rem

@media screen and (max-width: 767px)
  .projects
    &__row
      align-items: center
      flex-direction: column
    &__col-40
      order: 2
    &__col-60
      order: 1
    &__navigation
      top: 230px
      left: 70px
    &__image
      width: 100%
      height: 100%
      object-fit: none

  .swiper
    &-slide
      &__image
        margin-bottom: 3rem
        padding: 0
      &__content

      &__pagination
